* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button, textarea {
  font: 400 1rem/1.4 'Roboto', sans-serif;
}

body {
  background: #F1F2F6;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .1s ease-in-out;
  outline: none;
  &:hover {
    color: rgb(46, 204, 113);
  }
}

.input {
  border: 1px solid rgb(178, 190, 195);
  border-radius: 0.25rem;
  color: rgb(51, 51, 51);
}

.button {
  border: 0;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;

  &--danger, &--success { color: #FFF }

  &--danger {
    background: linear-gradient(rgb(245, 59, 130), rgb(245, 59, 87));
    &:hover {
      background: linear-gradient(rgb(221, 53, 117), rgb(219, 53, 78));
    }
  }

  &--success {
    background: linear-gradient(rgb(46, 204, 113), rgb(26, 188, 156));
    &:hover {
      background: linear-gradient(rgb(40, 179, 98), rgb(24, 169, 140));
    }
  }
}

.button:not([disabled]) {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}