<template>
  <header class="page-header">
    <div class="container">
      <div class="page-header--title">Perfect Pay <span>| Challenge</span></div>
    </div>
  </header>
</template>

<style lang="scss">
  .page-header {
    background: #fff;
    color: #333;
    padding: 2rem 0;
    margin-bottom: 2rem;
    text-align: center;
    @media screen and (min-width: 1024px) {
      text-align: left;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      @media screen and (min-width: 600px) {
        flex-direction: row;
      }
    }
    &--title {
      font-size: 1.25rem;
      font-weight: 700;
      span {
        font-weight: 300;
      }
      @media screen and (min-width: 600px) {
        padding-left: 1rem;
        font-size: 1.5rem;
      }
      @media screen and (min-width: 1024px) {
        font-size: 2rem;
      }
    }
  }
</style>