<template>
  <div class="container">
    <div class="hero">
      <img src="../assets/images/billgates.jpg" alt="Bill Gates">
      <h1>Spend Bill Gates' Money</h1>
    </div>
  </div>
</template>

<style lang="scss">
  .hero {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
    img {
      max-width: 125px;
      border-radius: 100%;
      margin-bottom: 2rem;
    }
  }  
</style>