<template>
  <div class="card-product" v-if="products">
    <div class="card-product--image"><img :src="image" :alt="name"></div>
    <div class="card-product--title">{{ name }}</div>
    <div class="card-product--price">${{ price }}</div>
    <div class="card-actions">
      <button class="button" disabled>Sell</button>
      <input class="card-actions--input input" type="text" v-model.number="quantity">
      <button 
        class="button button--success"
        :disabled="quantity <= 0 || !Number.isInteger(quantity)"
        @click="buyProduct">
          Buy
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      products: [],
      quantity: 0
    }
  },
  props: {
    name: String,
    price: String,
    image: String
  },
  methods: {
    buyProduct() {
      const order = {
        productPrice: this.price,
        quantity: this.quantity
      }
      console.log(order)
      this.quantity = 0
    }
  }
}
</script>

<style lang="scss">
  .card-product {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    padding: 1rem 0;

    &--image {
      img {
        object-fit: contain;
        height: 120px;
        max-width: 300px;
        margin: 1rem 0 0;
      }
    }

    &--title, &--price {
      padding: 0.5rem 0 0;
    }

    &--title {
      font-size: 1.5rem;
      font-weight: 900;
    }

    &--price {
      color: rgb(46, 204, 113);
      font-size: 1.25rem;
      font-weight: 700;
    }

    .card-actions {
      margin: 1rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      &--input {
        width: 100%;
        text-align: center;
        object-fit: contain;
        -webkit-user-drag: none;
        user-select: none;
        appearance: none;
        
        @media screen and (min-width: 600px) {
          max-width: 100px;
        }
      }
    }
  }
</style>