<template>
  <div class="container">
    <div class="product-listing">
      <ProductCard
        v-for="product in products"
        :key="product.id"
        :name="product.name"
        :price="product.price"
        :image="product.image"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import ProductCard from '../components/ProductCard'

const baseURL = 'http://localhost:3000/products'

export default {
  data() {
    return {
      products: []
    }
  },
  components: {
    ProductCard
  },
  async created() {
    try {
      const res = await axios.get(baseURL)
      this.products = res.data;
    } catch(e) {
      console.error(e)
    }
  }
}
</script>

<style lang="scss">
  .product-listing {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0.75rem;
    grid-template-areas: ".";
    margin: 1rem 0;
    @media screen and (min-width: 600px) {
      grid-template-areas: ". .";
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1024px) {
      grid-template-areas: ". . .";
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>