<template>
  <div :class="{sticky: scrollPosition > 400}">
    <div class="container">
      <div class="total-balance">
        <strong>${{ funds }}</strong>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      scrollPosition: null,
      funds: "100,000,000,000"
    }
  },
  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY
    }
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll);
    window.addEventListener('gesturechange', this.updateScroll);
  }
}
</script>

<style lang="scss">
.total-balance {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: linear-gradient(rgb(46, 204, 113), rgb(26, 188, 156));
  color: #FFF;
  font-size: 2rem;
}
.sticky {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  .total-balance {
    margin: auto;
  }
}
</style>