<template>
  <div class="container">
    <div class="receipt">
      <h2 class="receipt-title">Your Receipt</h2>
      <div class="receipt-content">
        <div class="receipt-content--name">Big Mac</div>
        <div class="receipt-content--qty">x1</div>
        <div class="receipt-content--price">$2</div>
      </div>
      <div class="receipt-content total">
        <div class="receipt-content--name">TOTAL</div>
        <div class="receipt-content--price">$2</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    
};
</script>

<style lang="scss">
  .receipt {
    background: #fff;
    text-align: center;
    padding: 2rem;
    
    &-title {
      font-size: 1.5rem;
      font-weight: 900;
      margin-bottom: 2rem;
      @media screen and (min-width: 600px) {
        font-size: 1.75rem;
      }
    }

    &-content {
      max-width: 100%;
      margin: auto;
      display: grid;
      gap: 1rem;
      grid-template-columns: auto auto auto;
      align-items: center;
      font-weight: 700;

      @media screen and (min-width: 600px) {
        grid-template-columns: 170px 45px 75px;
        font-size: 1.25rem;
        max-width: 320px;
      }

      &--name { text-align: left }
      &--price { text-align: right }
      &--price {
        color: rgb(46, 204, 113);
        font-weight: 900;
      }

      &.total {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #000;
        font-weight: 900;
        padding-top: 0.75rem;
        margin-top: 0.75rem;
      }
    }
  }
</style>
