<template>
  <div id="app">
    <Header />
    <Hero />
    <TotalBalance />
    <ProductListing />
    <YourReceipt />
  </div>
</template>

<script>
import Header from './components/Header'
import Hero from './components/Hero'
import TotalBalance from './components/TotalBalance'
import ProductListing from './components/ProductListing'
import YourReceipt from './components/YourReceipt'

export default {
  components: {
    Header,
    Hero,
    TotalBalance,
    ProductListing,
    YourReceipt
  }
}
</script>
